<!--  Страница с заказоми всех пользователей для админа  -->
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:c="http://java.sun.com/jsp/jstl/core" version="1.2">
    <jsp:directive.page contentType="text/html; UTF-8"/>
    <html>
    <head><title>Заказы от пользователей</title></head>
    <body>
    <h1 align="center">Список заказов от пользователей</h1>
    <table width="100%" cellspacing="0" cellpadding="20">
        <tr>
            <td valign="top" width="85%" align="center">
                <!--  Проверяем есть ли список пицц  -->
                <!--  создаем форму с таблицей  -->
                <table>
                    <tr>
                        <td>№</td>
                        <td>Логин</td>
                        <td>Название пиццы</td>
                        <td>Количество</td>
                        <td>Статус</td>
                    </tr>
                    <!--  Выводим список заказов покупателя-->
                    <c:forEach var="order" items="${allOrders}" varStatus="counter">
                        <tr>
                            <td>${counter.count}.</td>
                            <td>${order.user.login}</td>
                            <td>${order.pizzaName}</td>
                            <td>${order.orderQuantity}</td>
                            <td>${order.status}</td>
                            <td>
                                <form action="${pageContext.request.contextPath}/changestatus">
                                    <input type="hidden" name="pizzaId" value="${order.pizzaId}"/>
                                    <input type="hidden" name="userId" value="${order.user.id}"/>
                                    <select name="status">
                                        <option value="getted">getted</option>
                                        <option value="in progress">in progress</option>
                                        <option value="done">done</option>
                                    </select>
                                    <input type="submit" value="Изменить статус"/>
                                </form>
                            </td>
                            <td>
                                <form action="${pageContext.request.contextPath}/deletebyadmin">
                                    <input type="hidden" name="pizzaId" value="${order.pizzaId}"/>
                                    <input type="hidden" name="userId" value="${order.user.id}"/>
                                    <input type="submit" value="Удалить"/>
                                </form>
                            </td>
                        </tr>
                    </c:forEach>
                </table>
                <br/>
                <a href="${pageContext.request.contextPath}/">Вернуться в меню</a>
                <br/>
            </td>
            <td align="right">
                <!--Подключаем страницу с формой ввода логина и пароля-->
                <c:choose>
                    <c:when test="${user == null}">
                        <jsp:directive.include file="/WEB-INF/JSP/login.jspf"/>
                        <c:out value="Вы зашли как гость"/>
                    </c:when>
                    <c:otherwise>
                        <jsp:directive.include file="/WEB-INF/JSP/logout.jspf"/>
                        <c:out value="Вы зашли как ${user.login}. "/>
                    </c:otherwise>
                </c:choose>
            </td>
        </tr>
    </table>
    </body>
    </html>
</jsp:root>
