<!--  Главная страница  -->
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:c="http://java.sun.com/jsp/jstl/core" version="1.2">
    <jsp:directive.page contentType="text/html; charset = UTF-8"/>
    <html>
    <head><title>Меню</title></head>
    <body>
    <h1 align="center">Меню</h1>
    <table width="100%" cellspacing="0" cellpadding="20">
        <tr>
            <td valign="top" width="85%" align="center">
                <!--  Проверяем есть ли список пицц  -->
                <c:choose>
                    <c:when test="${pizzas != null}">
                        <!--  создаем форму с таблицей  -->
                        <!--  Перебираем объекты Pizza в сете pizzas, который загружается из БД.
                         Для каждого создаем радио кнопку с передаваемым значением id пиццы. Далее - название пиццы.
                         Далее - кнопка заказа , которая ведет на сервлет по приему заказов-->
                        <form action="${pageContext.request.contextPath}/add">
                            <table>
                                <c:forEach var="pizza" items="${pizzas}">
                                    <tr>
                                        <td><input type="radio" name="pizzaId" value="${pizza.id}"/></td>
                                        <td>${pizza.id}. ${pizza.name}</td>
                                    </tr>
                                </c:forEach>
                            </table>
                            <input type="submit" value="Заказать"/>
                        </form>
                        <br/>
                        <a href="${pageContext.request.contextPath}/add">Мои заказы</a>
                    </c:when>
                    <!--Выводим, если список пицц пустой-->
                    <c:otherwise>
                        <h1>Сегодня пицц в меню нет. Заходите попозже :)</h1>
                    </c:otherwise>
                </c:choose>
            </td>
            <td align="right">
                <!--Подключаем страницу с формой ввода логина и пароля-->
                <c:choose>
                    <c:when test="${user == null}">
                        <jsp:directive.include file="/WEB-INF/JSP/login.jspf"/>
                        <c:out value="Вы зашли как гость"/>
                    </c:when>
                    <c:otherwise>
                        <jsp:directive.include file="/WEB-INF/JSP/logout.jspf"/>
                        <c:out value="Вы зашли как ${user.login}. "/>
                        <br/>
                        <c:if test="${user.role == 'ADMINISTRATOR'}">
                            <a href="${pageContext.request.contextPath}/admin">Зайти в админ панель</a>
                        </c:if>
                    </c:otherwise>
                </c:choose>
            </td>
        </tr>
    </table>
    </body>
    </html>
</jsp:root>
