<!--
Фрагмент с вводом логина и пароля
-->
<jsp:directive.page pageEncoding="UTF-8"/>
<form action="${pageContext.request.contextPath}/checklogin" method="post">
    <fieldset>
        <legend align="center">Форма авторизации</legend>
        <table cellspacing="4">
            <tr>
                <td align="right">Логин</td>
                <td><input type="text" name="login"/></td>
            </tr>
            <tr>
                <td align="right">Пароль</td>
                <td><input type="text" name="password"/></td>
            </tr>
        </table><br>
            <input type="submit" name="submit" value="Войти"/>
    </fieldset>
</form>


