<!--
Фрагмент с вводом логина и пароля
-->
<jsp:directive.page pageEncoding="UTF-8"/>
<form action="${pageContext.request.contextPath}/logout" method="post">

        <input type="hidden" name="exit" value="exit">
        <input type="submit" name="submit" value="Выйти"/>

</form>


